body{
  
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 0%, rgba(36,255,0,1) 100%);
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

#res{
   margin-top: 10rem;
}

#result, #res{
   font-size: 3rem;
   text-shadow: 1px 1px 1px rgb(27, 25, 25);
}

#resultStatus{
   margin-top: 200px;
   font-family: 'Ubuntu';

}

#resultButton{
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(6,190,24,1) 0%, rgba(36,255,0,1) 100%);
box-shadow: 1px 3px 1px rgb(121, 112, 112);
text-shadow: 1px 1px 1px rgb(226, 219, 219);
font-family: 'Ubuntu';
}

.navbar-expand-lg .navbar-collapse{
   flex-direction: column;
   flex-wrap: wrap;
   align-content: flex-end;

}

#nav-editing{
   background: rgba(255, 255, 255, 0.503);
}

/* start Nav */

.nav-link {
  color: var(--Pink-color);;
  font-weight: 700;
}

.nav-link:hover, .link-register:hover {
  color: #5c57c1;
  font-size:150%;
}

.header, footer {
  box-shadow: 0px 0px 20px grey;

}

.form-control {
  background-color: #F0EFFF;
}

@media only screen and (max-width: 768px) {

  .img-fluid {
      display: none;
  }
}

/* End Nav */

#tableContainer{
   height: 500px;
}


#footerEdit{
   background-color: rgba(6, 190, 24, 0.4);
}


.lineUp {
   animation: 4s anim-lineUp ease-out;
 }
 @keyframes anim-lineUp {
   0% {
     opacity: 0;
     transform: translateY(80%);
   }
   20% {
     opacity: 0;
   }
   50% {
     opacity: 1;
     transform: translateY(0%);
   }
   100% {
     opacity: 1;
     transform: translateY(0%);
   }
 }

 .char{
   font-size: 40px;
   height: 40px;
   animation: an 1s ease-out 1 both;
   display: inline-block;
   
}

@keyframes an{
   from{
       opacity: 0;
       transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
   }
   to{
       opacity: 1;
       transform: perspective(500px) translate3d(0, 0, 0);
   }
}






 @keyframes anim-lineUp {
   0% {
     opacity: 0;
     transform: translateY(80%);
   }
   20% {
     opacity: 0;
   }
   50% {
     opacity: 1;
     transform: translateY(0%);
   }
   100% {
     opacity: 1;
     transform: translateY(0%);
   }
 }


 
@media (max-width: 500px) {
   #res{
       margin-top: 8rem;
       font-size: medium;
   }
   #result{
       font-size: x-large;
   }

}