#nav-edit-color{
    background-color: #0A2647;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.423) inset;
    font-family: 'Righteous';
}


#nav-edit{
    color: white;

}


#svg-icon{
    color: #2C74B3;
}

#loginBtn{
    color: white;
    background-color: #2C74B3;
    border: 1px solid rgba(255, 255, 255, 0.819);
    transition: background-color 1s, border 1s;
}


    #loginBtn:hover{
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.114);
    background-color: #0a264768;
    
    }


  /* -----start main---- */

  .mainText {
    
  }


#startQuizBtn {
    color: white;
    background-color: #2C74B3;
    border: 1px solid rgba(255, 255, 255, 0.819);
    transition: background-color 1s, border 1s;
}

#startQuizBtn:hover {
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.114);
    background-color: #0a2647;
}

  /* -----end main---- */



#footerEdit{
    background-color: #0A2647;
}

#footerContent{
    font-family: 'Righteous';
    color: white;
}

