  /* -----main---- */
  .first-section{
    display: flex;
    flex-direction: row;
    background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 0%, #4D47C3 100%);
    height: 80vh;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
    justify-content: space-around
    
}
@media (max-width: 767px) {
    .first-section {
      display: flex;
      flex-direction: column;
    }
    .img{
        width: 23rem;

    }
    .text{
        padding-top: 3rem;
    }
  }
.text h1, .text h2 , .second-section h4 , .second-section h2 {
    color: #fff;
}
/* button{

} */
.second-section h4 , .second-section h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.second-section{
    background-color: #A7A3FF;
    padding-top: 2rem;
}
.second-section ul{
    margin: 0px 23%;
    padding-bottom: 2rem;
}
.second-section ul li {
    padding-bottom: 2rem;
}
.btn {
    background-color: #4D47C3 !important;
}
button.btn.btn-primary.btn-lg.btn-border-color {
    border-color: #ffffff;
}